In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re

In [4]:
#Loading Dataset
books = pd.read_csv('booksDataset/books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('booksDataset/users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('booksDataset/booksRating.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\bipul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [8]:
#dropping unwanted columns
books.drop(['imageUrlS', 'imageUrlM', 'imageUrlL'],axis=1,inplace=True)

In [9]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [10]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [11]:
#Remaking of the data
books.loc[books.ISBN == '0789466953','yearOfPublication'] = 2000
books.loc[books.ISBN == '0789466953','bookAuthor'] = "James Buckley"
books.loc[books.ISBN == '0789466953','publisher'] = "DK Publishing Inc"
books.loc[books.ISBN == '0789466953','bookTitle'] = "DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)"

In [12]:
#ISBN '078946697X'
books.loc[books.ISBN == '078946697X','yearOfPublication'] = 2000
books.loc[books.ISBN == '078946697X','bookAuthor'] = "Michael Teitelbaum"
books.loc[books.ISBN == '078946697X','publisher'] = "DK Publishing Inc"
books.loc[books.ISBN == '078946697X','bookTitle'] = "DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)"

In [13]:
books.loc[(books.ISBN == '0789466953') | (books.ISBN == '078946697X'),:]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",Michael Teitelbaum,2000,DK Publishing Inc
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",James Buckley,2000,DK Publishing Inc

In [14]:
books.loc[books.ISBN == '2070426769','yearOfPublication'] = 2003
books.loc[books.ISBN == '2070426769','bookAuthor'] = "Jean-Marie Gustave Le ClÃ?Â©zio"
books.loc[books.ISBN == '2070426769','publisher'] = "Gallimard"
books.loc[books.ISBN == '2070426769','bookTitle'] = "Peuple du ciel, suivi de 'Les Bergers"

In [15]:
books.loc[books.ISBN == '2070426769',:]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers",Jean-Marie Gustave Le ClÃ?Â©zio,2003,Gallimard

In [16]:
#correcting the dtype of publication 
books.yearOfPublication=pd.to_numeric(books.yearOfPublication, errors='coerce')

In [17]:
print(sorted(books['yearOfPublication'].unique()))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

In [18]:
books.loc[(books.yearOfPublication > 2006) | (books.yearOfPublication == 0),'yearOfPublication'] = np.NAN

In [19]:
books.yearOfPublication.fillna(round(books.yearOfPublication.mean()), inplace=True)

In [20]:
books.yearOfPublication.isnull().sum()

0

In [21]:
books.yearOfPublication = books.yearOfPublication.astype(np.int32)

In [22]:
books.loc[books.publisher.isnull(),:]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN

In [23]:
books.loc[(books.ISBN == '193169656X'),'publisher'] = 'other'
books.loc[(books.ISBN == '1931696993'),'publisher'] = 'other'

In [24]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [25]:
#printing unique ages
print(sorted(users.Age.unique()))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

In [26]:
#Replacing age below 5 and above 90 with np.nan
users.loc[(users.Age > 90) | (users.Age < 5), 'Age'] = np.nan

In [27]:
#replacing nan with average age
users.Age = users.Age.fillna(users.Age.mean())

In [28]:
users.Age = users.Age.astype(np.int32)

In [29]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [30]:
ratings.shape

(1149780, 3)

In [31]:
n_users = users.shape[0]
n_books = books.shape[0]
print(n_users * n_books)

75670906880

In [32]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [33]:
ratings.bookRating.unique()

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [34]:
#selecting books that exists in our database
ratings_new = ratings[ratings.ISBN.isin(books.ISBN)]

In [35]:
print(ratings.shape)
print(ratings_new.shape)

(1149780, 3)
(1031136, 3)

In [36]:
ratings = ratings[ratings.userID.isin(users.userID)]

In [37]:
print(ratings.shape)
print(ratings_new.shape)

(1149780, 3)
(1031136, 3)

In [38]:
print("number of users: " + str(n_users))
print("number of books: " + str(n_books))

number of users: 278858
number of books: 271360

In [39]:
#sparsity
sparsity=1.0-len(ratings_new)/float(n_users*n_books)
print('The sparsity level of Book Crossing dataset is ' +  str(sparsity*100) + ' %')

The sparsity level of Book Crossing dataset is 99.99863734155898 %

In [40]:
ratings.bookRating.unique()

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [41]:
#setting appart of dataset into ratings_explicit and ratings_explicit
ratings_explicit = ratings_new[ratings_new.bookRating != 0]
ratings_implicit = ratings_new[ratings_new.bookRating == 0]

In [42]:
print(ratings_new.shape)
print(ratings_explicit.shape)
print(ratings_implicit.shape)

(1031136, 3)
(383842, 3)
(647294, 3)

In [43]:
#simple populartity Based Recommendation Sysytem top 10 popularty based book
ratings_count = pd.DataFrame(ratings_explicit.groupby(['ISBN'])['bookRating'].sum())
top10 = ratings_count.sort_values('bookRating', ascending = False).head(10)
print("Following books are recommended")
top10.merge(books, left_index = True, right_on = 'ISBN')

Following books are recommended

,bookRating,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
408,5787,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
748,4108,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday
522,3134,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
2143,2798,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
356,2595,0142001740,The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books
26,2551,0971880107,Wild Animus,Rich Shapero,2004,Too Far
1105,2524,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial
706,2402,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,Warner Books
231,2219,0452282152,Girl with a Pearl Earring,Tracy Chevalier,2001,Plume Books
118,2179,0671027360,Angels &amp; Demons,Dan Brown,2001,Pocket Star

In [44]:
#setting apart users 
users_exp_ratings = users[users.userID.isin(ratings_explicit.userID)]
users_imp_ratings = users[users.userID.isin(ratings_implicit.userID)]

In [45]:
print(users.shape)
print(users_exp_ratings.shape)
print(users_imp_ratings.shape)

(278858, 3)
(68091, 3)
(52451, 3)

In [46]:
#collaborative Filtering
counts1 = ratings_explicit['userID'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['userID'].isin(counts1[counts1 >= 100].index)]
counts = ratings_explicit['bookRating'].value_counts()
ratings_explicit = ratings_explicit[ratings_explicit['bookRating'].isin(counts[counts >= 100].index)]

In [47]:
#generating rating matrix from explicit rating
ratings_matrix = ratings_explicit.pivot(index='userID', columns='ISBN', values='bookRating')
userID = ratings_matrix.index
ISBN = ratings_matrix.columns
print(ratings_matrix.shape)
ratings_matrix.head()

(449, 66574)

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
n_users = ratings_matrix.shape[0]
n_books = ratings_matrix.shape[1]
print(n_users, n_books)

449 66574

In [49]:
#replacing nan by 0
ratings_matrix.fillna(0, inplace = True)
ratings_matrix = ratings_matrix.astype(np.int32)

In [50]:
ratings_matrix.head(5)

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
#rechecking the sparsity
sparsity=1.0-len(ratings_explicit)/float(users_exp_ratings.shape[0]*n_books)
print('The sparsity level of Book Crossing dataset is ' +  str(sparsity*100) + ' %')

The sparsity level of Book Crossing dataset is 99.99772184106935 %

In [52]:
#global variables setting
global metric,k
k=10
metric='cosine'

In [53]:
from sklearn.neighbors import NearestNeighbors

In [54]:
#user based recommendation 
#Find k similar users and rating matrix
def findksimilarusers(user_id, ratings, metric = metric, k=k):
    similarities=[]
    indices=[]
    model_knn = NearestNeighbors(metric = metric, algorithm = 'brute') 
    model_knn.fit(ratings)
    loc = ratings.index.get_loc(user_id)
    distances, indices = model_knn.kneighbors(ratings.iloc[loc, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
            
    return similarities,indices

In [55]:
#prediction of rating
def predict_userbased(user_id, item_id, ratings, metric = metric, k=k):
    prediction=0
    user_loc = ratings.index.get_loc(user_id)
    item_loc = ratings.columns.get_loc(item_id)
    similarities, indices=findksimilarusers(user_id, ratings,metric, k) #similar users based on cosine similarity
    mean_rating = ratings.iloc[user_loc,:].mean() #to adjust for zero based indexing
    sum_wt = np.sum(similarities)-1
    product=1
    wtd_sum = 0 
    
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i] == user_loc:
            continue;
        else: 
            ratings_diff = ratings.iloc[indices.flatten()[i],item_loc]-np.mean(ratings.iloc[indices.flatten()[i],:])
            product = ratings_diff * (similarities[i])
            wtd_sum = wtd_sum + product
    
    #in case of very sparse datasets, using correlation metric for collaborative based approach may give negative ratings
    #which are handled here as below
    if prediction <= 0:
        prediction = 1   
    elif prediction >10:
        prediction = 10
    
    prediction = int(round(mean_rating + (wtd_sum/sum_wt)))
    print('\nPredicted rating for user {0} -> item {1}: {2}'.format(user_id,item_id,prediction))

    return prediction

In [56]:
predict_userbased(11676,'0001056107',ratings_matrix);

Predicted rating for user 11676 -> item 0001056107: 2

In [57]:
#find k similar items given item id and rating_matrix
def findksimilaritems(item_id, ratings, metric=metric, k=k):
    similarities=[]
    indices=[]
    ratings=ratings.T
    loc = ratings.index.get_loc(item_id)
    model_knn = NearestNeighbors(metric = metric, algorithm = 'brute')
    model_knn.fit(ratings)
    
    distances, indices = model_knn.kneighbors(ratings.iloc[loc, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()

    return similarities,indices

In [58]:
#function predicts the rating for specified user-item combination based on item-based approach
def predict_itembased(user_id, item_id, ratings, metric = metric, k=k):
    prediction= wtd_sum =0
    user_loc = ratings.index.get_loc(user_id)
    item_loc = ratings.columns.get_loc(item_id)
    similarities, indices=findksimilaritems(item_id, ratings) #similar users based on correlation coefficients
    sum_wt = np.sum(similarities)-1
    product=1
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i] == item_loc:
            continue;
        else:
            product = ratings.iloc[user_loc,indices.flatten()[i]] * (similarities[i])
            wtd_sum = wtd_sum + product                              
    prediction = int(round(wtd_sum/sum_wt))
    
    #in case of very sparse datasets, using correlation metric for collaborative based approach may give negative ratings
    #which are handled here as below //code has been validated without the code snippet below, below snippet is to avoid negative
    #predictions which might arise in case of very sparse datasets when using correlation metric
    if prediction <= 0:
        prediction = 1   
    elif prediction >10:
        prediction = 10

#     print('\nPredicted rating for user {0} -> item {1}: {2}'.format(user_id,item_id,prediction))     
    
    return prediction

In [59]:
prediction = predict_itembased(11676,'0001056107',ratings_matrix)

In [60]:
#recommendation of book based on itembased cosine
user_recommended= []
def recommendItemBased(user_id, ratings, metric=metric): 
    if (user_id not in ratings.index.values) or type(user_id) is not int:
        print("User id should be a valid integer from this list :\n\n {} ".format(re.sub('[\[\]]', '', np.array_str(ratings_matrix.index.values))))
    else:    
        #ids = ['Item-based (correlation)','Item-based (cosine)','User-based (correlation)','User-based (cosine)']
        #select = widgets.Dropdown(options=ids, value=ids[0],description='Select approach', width='1000px')
        def on_change():
            #clear_output(wait=True)
            user_recommendation = [];
            prediction = []            
                                  
            #metric = 'cosine'   
            #with suppress_stdout():
                #if (select.value == 'Item-based (correlation)') | (select.value == 'Item-based (cosine)'):
            for i in range(ratings.shape[1]):
                if (ratings[str(ratings.columns[i])][user_id] !=0): #not rated already
                    prediction.append(predict_itembased(user_id, str(ratings.columns[i]) ,ratings, metric))
                else:                    
                    prediction.append(-1) #for already rated items
            prediction = pd.Series(prediction)
            prediction = prediction.sort_values(ascending=False)
            recommended = prediction[:10]
            print("As per approach....Following books are recommended...")
            for i in range(len(recommended)):
                print("====================================================")
                user_recommended.append(books[(books.bookTitle == books.bookTitle[recommended.index[i]])]);
                print("{0}. {1}".format(i+1,books.bookTitle[recommended.index[i]]))
                
        on_change()

In [61]:
books

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press
12,0887841740,The Middle Stories,Sheila Heti,2004,House of Anansi Press
13,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,Kensington Publishing Corp.
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub
18,0440234743,The Testament,John Grisham,1999,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000,HarperEntertainment
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,Scribner
...,...,...,...,...,...
271330,3320016822,Urteil ohne Prozess: Margot Honecker gegen Oss...,JÃ¶rn Kalkbrenner,1990,Dietz
271331,3423200944,"Hokuspokus, liebe mich. Und fÃ?Â¼nfzig andere ...",Helen Glisic,1997,Dtv
271332,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne
271333,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hans-Ulrich Wehler,1994,Vandenhoeck &amp; Ruprecht
271334,3548740146,Wicca. Eine EinfÃ?Â¼hrung in weiÃ?Â?e Magie.,Scott Cunningham,2001,"Ullstein TB-Vlg., B."
271335,381440176X,"Ein Fall fÃ?Â¼r TKKG, Bd.50, Sklaven fÃ?Â¼r Wu...",Stefan Wolf,1989,Pelikan
271336,3893312307,Die Vereinten Nationen: Zwischen Anspruch und ...,GÃ¼nther Unser,1995,Bundeszentrale fÃ¼r Politische Bildung
271337,0971854823,The Female Power Within: A Guide to Living a G...,Marilyn Graman,2002,Life Works Books
271338,0316640786,Christie's Collectables: Blue and White China ...,Paul Tippett,1997,Time Warner Books UK
271339,3257217323,Schmatz. Oder Die Sackgasse.,Hans Werner Kettenbach,2003,Diogenes Verlag
271340,3596156904,Amok.,Emmanuel Carrere,2003,"Fischer (Tb.), Frankfurt"
271341,1874166633,Introducing Nietzsche (Foundations in Children...,Laurence Gane,1998,Natl Book Network
271342,0130897930,Core Web Programming (2nd Edition),Marty Hall,2001,Prentice Hall PTR
271343,020130998X,The Unified Modeling Language Reference Manual...,James Rumbaugh,1998,Addison-Wesley Professional
271344,2268032019,Petite histoire de la dÃ?Â©sinformation,Vladimir Volkoff,1999,Editions du Rocher
271345,0684860112,Driving to Detroit: Memoirs of a Fast Woman,Lesley Hazleton,1999,Simon &amp; Schuster (Trade Division)
271346,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin
271347,3442150663,Der Mossad.,Victor Ostrovsky,2000,Goldmann
271348,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press
271349,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,University of California Press
271350,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,Running Press Book Publishers
271351,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press
271352,1845170423,Cocktail Classics,David Biggs,2004,Connaught
271353,014002803X,Anti Death League,Kingsley Amis,1975,Viking Press
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [62]:
# books.loc[(books.ISBN == '193169656X'),'publisher'] = 'other'
books[(books.bookTitle == 'Classical Mythology')]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
95231,0801319536,Classical Mythology,Mark P. O. Morford,1998,John Wiley &amp; Sons

In [63]:
recommendItemBased(999999,ratings_matrix)

User id should be a valid integer from this list :

   2033   2110   2276   4017   4385   5582   6242   6251   6543   6575
   7286   7346   8067   8245   8681   8890  10560  11676  11993  12538
  12824  12982  13552  13850  14422  15408  15418  16634  16795  16966
  17950  19085  21014  23768  23872  23902  25409  25601  25981  26535
  26544  26583  28591  28634  29259  30276  30511  30711  30735  30810
  31315  31556  31826  32773  33145  35433  35836  35857  35859  36299
  36554  36606  36609  36836  36907  37644  37712  37950  38023  38273
  38281  39281  39467  40889  40943  43246  43910  46398  47316  48025
  48494  49144  49889  51883  52199  52350  52584  52614  52917  53220
  55187  55490  55492  56271  56399  56447  56554  56959  59172  60244
  60337  60707  63714  63956  65258  66942  67840  68555  69078  69389
  69697  70415  70594  70666  72352  73681  75591  75819  76151  76223
  76499  76626  78553  78783  78834  78973  79441  81492  81560  83287
  83637  83671  85526  85656  86189  86947  87141  87555  88283  88677
  88693  88733  89602  91113  92652  92810  93047  93363  93629  94242
  94347  94853  94951  95010  95359  95902  95932  96448  97754  97874
  98391  98758 100459 100906 101209 101606 101851 102359 102647 102702
 102967 104399 104636 105028 105517 105979 106007 107784 107951 109574
 109901 109955 110483 110912 110934 110973 112001 113270 113519 114368
 114868 114988 115002 115003 116599 117384 120565 122429 122793 123094
 123608 123883 123981 125519 125774 126492 126736 127200 127359 128835
 129074 129716 129851 130554 130571 132492 132836 133747 134434 135149
 135265 136010 136139 136348 136382 138578 138844 140000 140358 141902
 142524 143175 143253 143415 145449 146113 146348 147847 148199 148258
 148744 148966 149907 149908 150979 153662 156150 156269 156300 156467
 157247 157273 158226 158295 158433 159506 160295 162052 162639 162738
 163759 163761 163804 163973 164096 164323 164533 164828 164905 165308
 165319 165758 166123 166596 168047 168245 169682 170513 170634 171118
 172030 172742 172888 173291 173415 174304 174892 177072 177432 177458
 178522 179718 179978 180378 180651 181176 182085 182086 182993 183958
 183995 184299 184532 185233 185384 187145 187256 187517 189139 189334
 189835 189973 190708 190925 193458 193560 193898 194600 196077 196160
 196502 197659 199416 200226 201290 203240 204864 205735 205943 206534
 207782 208406 208671 209516 210485 211426 211919 212965 214786 216012
 216444 216683 217106 217318 217740 218552 218608 219546 219683 222204
 222296 223087 223501 224349 224525 224646 224764 225087 225199 225232
 225595 225763 226965 227250 227447 227520 227705 229011 229329 229551
 229741 230522 231210 232131 232945 233911 234359 234828 235105 235282
 235935 236058 236283 236340 236757 236948 239584 239594 240144 240403
 240543 240567 240568 241198 241666 241980 242006 242083 242409 242465
 244627 244685 245410 245827 246311 247429 247447 248718 249894 250405
 250709 251394 251843 251844 252695 252820 254206 254465 254899 255489
 257204 258152 258185 258534 261105 261829 262998 264031 264082 264321
 264525 265115 265313 265889 266056 266226 268110 268300 268932 269566
 270713 271448 271705 273113 274061 274301 275970 277427 278418

In [64]:
recommendItemBased(4385, ratings_matrix,metric="cosine")

As per approach....Following books are recommended...
====================================================
1. My Wicked Wicked Ways
====================================================
2. Fair Peril
====================================================
3. Wolfpointe
====================================================
4. A Nest of Ninnies
====================================================
5. A Bitter Legacy
====================================================
6. A Hymn Before Battle
====================================================
7. Thomas the Rhymer
====================================================
8. Gatherer of Clouds (Initiate Brother Duology)
====================================================
9. Wege zum Ruhm: 13 Hilfestellungen fÃ¼r junge KÃ¼nstler und 1 Warnung
====================================================
10. Love In Bloom's

In [65]:
user_recommended

[             ISBN              bookTitle       bookAuthor  yearOfPublication  \
 33265  0679418210  My Wicked Wicked Ways  Sandra Cisneros               1992

              publisher
 33265  Alfred A. Knopf  ,
               ISBN   bookTitle      bookAuthor  yearOfPublication  \
 13727   0380784130  Fair Peril  Nancy Springer               1996
 226194  0380973456  Fair Peril  Nancy Springer               1996

             publisher
 13727   Harpercollins
 226194  Harpercollins  ,
              ISBN   bookTitle bookAuthor  yearOfPublication  \
 14377  1931201080  Wolfpointe  Rick Buda               2004

                   publisher
 14377  Twilight Times Books  ,
              ISBN          bookTitle    bookAuthor  yearOfPublication  \
 14999  0880015233  A Nest of Ninnies  John Ashbery               1997

            publisher
 14999  Harpercollins  ,
              ISBN        bookTitle     bookAuthor  yearOfPublication  \
 26174  0843933089  A Bitter Legacy  Jean Davidson               1993

            publisher
 26174  Leisure Books  ,
               ISBN             bookTitle  bookAuthor  yearOfPublication  \
 26839   0671318411  A Hymn Before Battle  John Ringo               2001
 150659  0671319418  A Hymn Before Battle  John Ringo               2000

        publisher
 26839       Baen
 150659      Baen  ,
              ISBN          bookTitle     bookAuthor  yearOfPublication  \
 13161  0553586971  Thomas the Rhymer  ELLEN KUSHNER               2004

       publisher
 13161    Bantam  ,
              ISBN                                      bookTitle  \
 14745  0886775361  Gatherer of Clouds (Initiate Brother Duology)

          bookAuthor  yearOfPublication  publisher
 14745  Sean Russell               1992  Daw Books  ,
              ISBN                                          bookTitle  \
 13388  3251003011  Wege zum Ruhm: 13 Hilfestellungen fÃ¼r junge K...

              bookAuthor  yearOfPublication publisher
 13388  Robert Gernhardt               1995  Haffmans  ,
              ISBN        bookTitle     bookAuthor  yearOfPublication publisher
 13163  1551669188  Love In Bloom's  Judith Arnold               2002      Mira]

In [66]:
def recommendItemUserBased(user_id, ratings, metric=metric):    
    if (user_id not in ratings.index.values) or type(user_id) is not int:
        print("User id should be a valid integer from this list :\n\n {} ".format(re.sub('[\[\]]', '', np.array_str(ratings_matrix.index.values))))
    else:    
        #ids = ['Item-based (correlation)','Item-based (cosine)','User-based (correlation)','User-based (cosine)']
        #select = widgets.Dropdown(options=ids, value=ids[0],description='Select approach', width='1000px')
        def on_change():
            #clear_output(wait=True)
            prediction = [] 
            user_recommendation = [];
                                  
            #metric = 'correlation'
                #if (select.value == 'Item-based (correlation)') | (select.value == 'Item-based (cosine)'):
            for i in range(ratings.shape[1]):
                if (ratings[str(ratings.columns[i])][user_id] !=0): #not rated already
                    prediction.append(predict_userbased(user_id, str(ratings.columns[i]) ,ratings, metric))
                else:                    
                    prediction.append(-1) #for already rated items
            prediction = pd.Series(prediction)
            prediction = prediction.sort_values(ascending=False)
            recommended = prediction[:10]
            print("As per approach....Following books are recommended...")
            for i in range(len(recommended)):
                 #print("{0}. {1}".format(i+1,books.bookTitle[recommended.index[i]].encode('utf-8'))) 
                ##added lines
                user_recommended.append(books[(books.bookTitle == books.bookTitle[recommended.index[i]])]);
                print("{0}. {1}".format(i+1,books.bookTitle[recommended.index[i]]))

        on_change()

In [67]:
recommendItemUserBased(4385, ratings_matrix,metric="cosine")

Predicted rating for user 4385 -> item 0061083402: 0

Predicted rating for user 4385 -> item 0061093343: 0

Predicted rating for user 4385 -> item 0061096156: 0

Predicted rating for user 4385 -> item 0312956762: 0

Predicted rating for user 4385 -> item 0312980353: 0

Predicted rating for user 4385 -> item 0345446100: 0

Predicted rating for user 4385 -> item 0373024665: 0

Predicted rating for user 4385 -> item 0373025920: 0

Predicted rating for user 4385 -> item 0373032072: 0

Predicted rating for user 4385 -> item 0373035101: 0

Predicted rating for user 4385 -> item 0373051921: 0

Predicted rating for user 4385 -> item 0373072422: 0

Predicted rating for user 4385 -> item 0373074123: 1

Predicted rating for user 4385 -> item 0373074492: 1

Predicted rating for user 4385 -> item 0373074808: 1

Predicted rating for user 4385 -> item 0373075286: 1

Predicted rating for user 4385 -> item 0373076223: 0

Predicted rating for user 4385 -> item 0373076371: 0

Predicted rating for user 4385 -> item 0373076592: 0

Predicted rating for user 4385 -> item 0373076746: 0

Predicted rating for user 4385 -> item 0373076932: 1

Predicted rating for user 4385 -> item 0373077289: 0

Predicted rating for user 4385 -> item 0373078056: 0

Predicted rating for user 4385 -> item 0373088701: 0

Predicted rating for user 4385 -> item 0373092741: 0

Predicted rating for user 4385 -> item 0373093799: 0

Predicted rating for user 4385 -> item 0373093829: 0

Predicted rating for user 4385 -> item 0373095244: 0

Predicted rating for user 4385 -> item 0373096585: 0

Predicted rating for user 4385 -> item 0373096828: 0

Predicted rating for user 4385 -> item 0373097840: 0

Predicted rating for user 4385 -> item 0373098006: 0

Predicted rating for user 4385 -> item 0373098677: 0

Predicted rating for user 4385 -> item 0373098847: 1

Predicted rating for user 4385 -> item 0373098855: 0

Predicted rating for user 4385 -> item 0373098987: 0

Predicted rating for user 4385 -> item 0373099150: 0

Predicted rating for user 4385 -> item 0373099169: 0

Predicted rating for user 4385 -> item 0373099568: 0

Predicted rating for user 4385 -> item 037310507X: 0

Predicted rating for user 4385 -> item 0373105401: 0

Predicted rating for user 4385 -> item 037310667X: 0

Predicted rating for user 4385 -> item 0373106734: 0

Predicted rating for user 4385 -> item 0373107072: 0

Predicted rating for user 4385 -> item 0373109040: 0

Predicted rating for user 4385 -> item 0373111622: 0

Predicted rating for user 4385 -> item 0373114931: 0

Predicted rating for user 4385 -> item 0373115458: 0

Predicted rating for user 4385 -> item 0373116373: 2

Predicted rating for user 4385 -> item 0373117949: 0

Predicted rating for user 4385 -> item 0373118651: 0

Predicted rating for user 4385 -> item 0373118716: 0

Predicted rating for user 4385 -> item 0373121369: 0

Predicted rating for user 4385 -> item 0373151896: 0

Predicted rating for user 4385 -> item 0373160011: 0

Predicted rating for user 4385 -> item 0373161387: 0

Predicted rating for user 4385 -> item 0373162111: 0

Predicted rating for user 4385 -> item 0373162227: 0

Predicted rating for user 4385 -> item 0373164386: 0

Predicted rating for user 4385 -> item 0373165048: 0

Predicted rating for user 4385 -> item 0373165544: 0

Predicted rating for user 4385 -> item 0373165595: 0

Predicted rating for user 4385 -> item 0373165811: 0

Predicted rating for user 4385 -> item 037316596X: 0

Predicted rating for user 4385 -> item 0373166931: 0

Predicted rating for user 4385 -> item 0373166958: 0

Predicted rating for user 4385 -> item 0373168527: 0

Predicted rating for user 4385 -> item 0373168705: 0

Predicted rating for user 4385 -> item 0373168721: 0

Predicted rating for user 4385 -> item 0373168748: 0

Predicted rating for user 4385 -> item 0373168802: 0

Predicted rating for user 4385 -> item 0373168829: 0

Predicted rating for user 4385 -> item 0373169175: 0

Predicted rating for user 4385 -> item 0373169191: 0

Predicted rating for user 4385 -> item 0373169264: 0

Predicted rating for user 4385 -> item 0373169299: 0

Predicted rating for user 4385 -> item 0373169302: 0

Predicted rating for user 4385 -> item 0373169329: 0

Predicted rating for user 4385 -> item 0373169361: 0

Predicted rating for user 4385 -> item 0373169469: 0

Predicted rating for user 4385 -> item 0373169477: 0

Predicted rating for user 4385 -> item 0373169493: 0

Predicted rating for user 4385 -> item 037316954X: 0

Predicted rating for user 4385 -> item 0373169566: 0

Predicted rating for user 4385 -> item 0373169620: 1

Predicted rating for user 4385 -> item 0373169639: 0

Predicted rating for user 4385 -> item 037316968X: 0

Predicted rating for user 4385 -> item 0373169760: 0

Predicted rating for user 4385 -> item 0373169868: 0

Predicted rating for user 4385 -> item 0373169884: 0

Predicted rating for user 4385 -> item 037319692X: 0

Predicted rating for user 4385 -> item 0373201427: 0

Predicted rating for user 4385 -> item 0373201575: 0

Predicted rating for user 4385 -> item 0373222289: 0

Predicted rating for user 4385 -> item 0373222823: 0

Predicted rating for user 4385 -> item 0373223455: 0

Predicted rating for user 4385 -> item 0373224915: 0

Predicted rating for user 4385 -> item 0373225202: 0

Predicted rating for user 4385 -> item 0373241224: 0

Predicted rating for user 4385 -> item 037324343X: 0

Predicted rating for user 4385 -> item 0373243685: 2

Predicted rating for user 4385 -> item 0373253184: 0

Predicted rating for user 4385 -> item 0373254547: 0

Predicted rating for user 4385 -> item 0373254571: 0

Predicted rating for user 4385 -> item 0373255500: 0

Predicted rating for user 4385 -> item 037325668X: 0

Predicted rating for user 4385 -> item 0373288050: 0

Predicted rating for user 4385 -> item 0373288093: 0

Predicted rating for user 4385 -> item 0373288212: 1

Predicted rating for user 4385 -> item 0373288646: 0

Predicted rating for user 4385 -> item 0373288727: 0

Predicted rating for user 4385 -> item 0373288816: 0

Predicted rating for user 4385 -> item 037328926X: 0

Predicted rating for user 4385 -> item 0373289421: 0

Predicted rating for user 4385 -> item 0373289871: 0

Predicted rating for user 4385 -> item 037329011X: 0

Predicted rating for user 4385 -> item 037329056X: 0

Predicted rating for user 4385 -> item 0373291019: 2

Predicted rating for user 4385 -> item 0373291183: 0

Predicted rating for user 4385 -> item 0373291213: 0

Predicted rating for user 4385 -> item 0373292155: 0

Predicted rating for user 4385 -> item 0373451806: 0

Predicted rating for user 4385 -> item 0373451903: 0

Predicted rating for user 4385 -> item 0373451911: 0

Predicted rating for user 4385 -> item 0373482949: 0

Predicted rating for user 4385 -> item 0373482957: 0

Predicted rating for user 4385 -> item 0373484070: 0

Predicted rating for user 4385 -> item 0373501749: 0

Predicted rating for user 4385 -> item 0373501757: 0

Predicted rating for user 4385 -> item 0373650396: 0

Predicted rating for user 4385 -> item 037365054X: 0

Predicted rating for user 4385 -> item 0373704070: 0

Predicted rating for user 4385 -> item 0373705247: 0

Predicted rating for user 4385 -> item 0373706448: 0

Predicted rating for user 4385 -> item 0373706898: 1

Predicted rating for user 4385 -> item 037370707X: 0

Predicted rating for user 4385 -> item 0373710291: 0

Predicted rating for user 4385 -> item 0373765053: 0

Predicted rating for user 4385 -> item 0373790538: 0

Predicted rating for user 4385 -> item 0373898347: 0

Predicted rating for user 4385 -> item 0380815346: 0

Predicted rating for user 4385 -> item 0380818078: 1

Predicted rating for user 4385 -> item 0380897857: 0

Predicted rating for user 4385 -> item 0425105156: 0

Predicted rating for user 4385 -> item 0440112907: 0

Predicted rating for user 4385 -> item 0440169836: 0

Predicted rating for user 4385 -> item 0440221471: 2

Predicted rating for user 4385 -> item 0441007147: 0

Predicted rating for user 4385 -> item 0441023142: 0

Predicted rating for user 4385 -> item 0445206608: 0

Predicted rating for user 4385 -> item 0446356859: 1

Predicted rating for user 4385 -> item 0446356875: 1

Predicted rating for user 4385 -> item 0446360511: 0

Predicted rating for user 4385 -> item 0446360708: 0

Predicted rating for user 4385 -> item 0446360732: 0

Predicted rating for user 4385 -> item 0446364290: 2

Predicted rating for user 4385 -> item 0446364312: 1

Predicted rating for user 4385 -> item 0446600342: 0

Predicted rating for user 4385 -> item 0446602558: 0

Predicted rating for user 4385 -> item 0446603090: 3

Predicted rating for user 4385 -> item 0446606448: 0

Predicted rating for user 4385 -> item 0449005844: 0

Predicted rating for user 4385 -> item 0449129047: 0

Predicted rating for user 4385 -> item 0449140180: 0

Predicted rating for user 4385 -> item 0449232131: 0

Predicted rating for user 4385 -> item 0451180143: 0

Predicted rating for user 4385 -> item 0515058181: 0

Predicted rating for user 4385 -> item 051506162X: 0

Predicted rating for user 4385 -> item 0553217771: 0

Predicted rating for user 4385 -> item 0553218298: 0

Predicted rating for user 4385 -> item 0553219510: 0

Predicted rating for user 4385 -> item 0553220284: 0

Predicted rating for user 4385 -> item 0553279335: 0

Predicted rating for user 4385 -> item 0553289993: 1

Predicted rating for user 4385 -> item 0553443119: 0

Predicted rating for user 4385 -> item 0553444433: 0

Predicted rating for user 4385 -> item 0553445006: 0

Predicted rating for user 4385 -> item 0553567683: 2

Predicted rating for user 4385 -> item 0553576011: 0

Predicted rating for user 4385 -> item 0671019147: 0

Predicted rating for user 4385 -> item 0671025384: 0

Predicted rating for user 4385 -> item 0671042092: 0

Predicted rating for user 4385 -> item 0671460412: 0

Predicted rating for user 4385 -> item 0671469134: 0

Predicted rating for user 4385 -> item 0671495429: 0

Predicted rating for user 4385 -> item 0671519077: 0

Predicted rating for user 4385 -> item 0671535706: 0

Predicted rating for user 4385 -> item 0671775235: 0

Predicted rating for user 4385 -> item 067178577X: 0

Predicted rating for user 4385 -> item 0743436466: 0

Predicted rating for user 4385 -> item 0786000139: 0

Predicted rating for user 4385 -> item 0786005416: 0

Predicted rating for user 4385 -> item 0821718053: 0

Predicted rating for user 4385 -> item 0821718398: 0

Predicted rating for user 4385 -> item 082173427X: 0

Predicted rating for user 4385 -> item 0821740296: 0

Predicted rating for user 4385 -> item 0821744798: 0

Predicted rating for user 4385 -> item 0821745085: 0

Predicted rating for user 4385 -> item 0821746219: 0

Predicted rating for user 4385 -> item 0821749374: 0

Predicted rating for user 4385 -> item 0821758969: 0

Predicted rating for user 4385 -> item 0821760459: 0

Predicted rating for user 4385 -> item 0821767720: 0

Predicted rating for user 4385 -> item 084394272X: 0

Predicted rating for user 4385 -> item 0843946466: 1

Predicted rating for user 4385 -> item 0886778212: 0

Predicted rating for user 4385 -> item 0931122651: 0

Predicted rating for user 4385 -> item 1551660016: 0

Predicted rating for user 4385 -> item 155166531X: 2

Predicted rating for user 4385 -> item 1551666014: 2

Predicted rating for user 4385 -> item 1551667436: 0

Predicted rating for user 4385 -> item 1565970519: 1
As per approach....Following books are recommended...
1. The Gift
2. A Close Run Thing : A Novel of Wellington's Army of 1815
3. Mazurka for Two Dead Men
4. The Romantic: A Novel
5. And Never Let Her Go : Thomas Capano: The Deadly Seducer
6. Outerbridge Reach
7. The Titanic Conspiracy: Cover-Ups and Mysteries of the World's Most Famous Sea Disaster
8. WHO NEEDS GOD
9. Chop Wood, Carry Water: A Guide to Finding Spiritual Fulfillment in Everyday Life
10. Under the Volcano

In [72]:
from collections import defaultdict
import surprise
from surprise import Dataset
from surprise import KNNBasic
from surprise import SVD
from surprise import KNNBaseline
from surprise.model_selection import KFold
from surprise.accuracy import rmse
from surprise.model_selection import cross_validate

In [73]:
data = ratings_new

In [74]:
data.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [ ]:
# ratings_matrix.head()

In [ ]:
# seperating training and testing datase
# msk = np.random.rand(len(ratings_new)) < 0.8

In [ ]:
# train = ratings_new[msk]

In [ ]:
# train.shape

In [ ]:
# test = ratings_new[~msk]

In [ ]:
# test.shape

In [ ]:
# ratings_matrix.shape

In [ ]:
# algo = NearestNeighbors()

In [ ]:
# train.head()

In [ ]:
# data = ratings
# data.head()

In [ ]:
# #For Rmse 
# algo.fit(train)                             
# predictions = algo.test(test)
# rmse(predictions,verbose=True)

In [ ]:
#data.folds()

In [ ]:
# cross_validate(algo,data,measures=['RMSE','MAE'],cv=5,verbose=True)

In [75]:
def precision_recall_at_k(predictions, k=10, threshold=7):
    '''Return precision and recall at k metrics for each user.'''

    # First map the predictions to each user.
    user_est_true = defaultdict(list)
    for uid, _, true_r, est, _ in predictions:
        user_est_true[uid].append((est, true_r))

    precisions = dict()
    recalls = dict()
    for uid, user_ratings in user_est_true.items():

        # Sort user ratings by estimated value
        user_ratings.sort(key=lambda x: x[0], reverse=True)

        # Number of relevant items
        n_rel = sum((true_r >= threshold) for (_, true_r) in user_ratings)

        # Number of recommended items in top k
        n_rec_k = sum((est >= threshold) for (est, _) in user_ratings[:k])

        # Number of relevant and recommended items in top k
        n_rel_and_rec_k = sum(((true_r >= threshold) and (est >= threshold))
                              for (est, true_r) in user_ratings[:k])

        # Precision@K: Proportion of recommended items that are relevant
        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 1

        # Recall@K: Proportion of relevant items that are recommended
        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 1

    return precisions, recalls

In [76]:
reader = surprise.Reader(rating_scale=(1, 10))
data = surprise.Dataset.load_from_df(ratings_new[['userID', 'ISBN', 'bookRating']], reader)
data

In [77]:
kf = KFold(n_splits=5)

In [78]:
# algo= KNNBaseline()
sim_options = {'name': 'pearson_baseline', 'user_based': False}
algo = SVD()

In [ ]:
# for trainset, testset in kf.split(data):
#     algo.fit(trainset)
#     predictions = algo.test(testset)
#     precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=4)

#     # Precision and recall can then be averaged over all users
#     print(sum(prec for prec in precisions.values()) / len(precisions))
#     print(sum(rec for rec in recalls.values()) / len(recalls))
#     print("Trainset is {0}".format(trainset))

In [ ]:
# algo = KNNBase()

In [ ]:
# for trainset, testset in kf.split(data):
#     algo.fit(trainset)
#     predictions = algo.test(testset)
#     precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=4)

#     # Precision and recall can then be averaged over all users
#     print(sum(prec for prec in precisions.values()) / len(precisions))
#     print(sum(rec for rec in recalls.values()) / len(recalls))

In [ ]:
#new
# reader = surprise.Reader(rating_scale=(1, 10))

In [ ]:
# data = surprise.Dataset.load_from_df(ratings_new[['userID', 'ISBN', 'bookRating']], reader)
# sim_options = {'name': 'pearson',
#        'user_based': False  # compute  similarities between items
#        }
# algo = surprise.KNNBasic(k=10, sim_options=sim_options)

In [ ]:
# from surprise import SVD
# algo = SVD()
# cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [79]:
 ratings_new.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

# memo problem so reducing dataset to 300000

In [85]:
new_mat = ratings_new.head(300000)

In [86]:
reader = surprise.Reader(rating_scale=(1, 10))

In [87]:
data = Dataset.load_from_df(new_mat[['userID', 'ISBN', 'bookRating']], reader)

In [88]:
data

In [89]:
# data.split(n_folds=2)

In [90]:
from surprise import KNNBasic, evaluate

In [91]:
algo = KNNBasic()

In [92]:
evaluate(algo,data,measures=['RMSE','MAE'])

C:\Users\bipul\Anaconda3\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\Users\bipul\Anaconda3\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm KNNBasic.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.1581
MAE:  3.5072
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.1547
MAE:  3.5012
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.1610
MAE:  3.5091
------------
Fold 4
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.1741
MAE:  3.5204
------------
Fold 5
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.1411
MAE:  3.4989
------------
------------
Mean RMSE: 4.1578
Mean MAE : 3.5073
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [4.158123737646035,
                             4.154678521580227,
                             4.16096067361517,
                             4.17409272740703,
                             4.141074757479106],
                            'mae': [3.5071726279512223,
                             3.501214288257813,
                             3.5090764486515815,
                             3.520369867018721,
                             3.498874521489833]})

In [ ]:
# import json
# abcd = ["Toy Stiry","alpha","beta","gamam"];

In [ ]:
# json.dumps(abcd)

In [ ]:
#checking
# books.head()

In [ ]:
# user_recommended.append(books[(books.bookTitle == "Classical Mythology")])

In [ ]:
#for uniqueness
# a = user_recommended
#json.dumps(user_recommended).

In [ ]:
# user_recommended

In [ ]:
# books

In [ ]:
# apple = ["apple","apple","mango","mango","tie","tie"]

In [ ]:
# a = set(apple)

In [ ]:
# x = {"name":"haha", "woow":"hahah"}

In [ ]:
# books = []
# books.append(x)

In [ ]:
# print(books)

In [ ]:
# y = {"asf":"fasdf", "alskjdf":"dakfh"}
# books.append(y)

In [ ]:
# print(books)

In [ ]:
# user_recommended[0]

In [ ]:
# user_recommended[0]['bookTitle'].str.exract()

In [ ]:
# y = {
    
#     "bookTitle": str(user_recommended[0]['bookTitle']),
#     "bookAuthor": user_recommended[0]['bookAuthor']
    
# }

# print(y)

In [ ]:
# h = str(user_recommended[0]['bookTitle'])
# print(h)

In [ ]:
# h.replace(" ", "")

In [ ]:
# h[h.index(" "):h.index("\n")].replace(" ", "")

In [69]:
def getTrimmedValue(h) :
    h = str(h)
    return h[h.index(" "):h.index("\n")].replace(" ", "")

In [ ]:
# onebook= {"bookTitle": getTrimmedValue(user_recommended[0]['bookTitle'])}

In [ ]:
# onebook

In [70]:
recommendedBooks = []
for i in range(len(user_recommended)):
    recommendedBooks.append({
        "ISBN": getTrimmedValue(user_recommended[i]["ISBN"]),
        "bookTitle": getTrimmedValue(user_recommended[i]["bookTitle"]),
        "bookAuthor": getTrimmedValue(user_recommended[i]["bookAuthor"]),
        "yearOfPublication": getTrimmedValue(user_recommended[i]["yearOfPublication"]),
        "publisher": getTrimmedValue(user_recommended[i]["publisher"])
    })

In [71]:
recommendedBooks

[{'ISBN': '0679418210',
  'bookTitle': 'MyWickedWickedWays',
  'bookAuthor': 'SandraCisneros',
  'yearOfPublication': '1992',
  'publisher': 'AlfredA.Knopf'},
 {'ISBN': '0380784130',
  'bookTitle': 'FairPeril',
  'bookAuthor': 'NancySpringer',
  'yearOfPublication': '1996',
  'publisher': 'Harpercollins'},
 {'ISBN': '1931201080',
  'bookTitle': 'Wolfpointe',
  'bookAuthor': 'RickBuda',
  'yearOfPublication': '2004',
  'publisher': 'TwilightTimesBooks'},
 {'ISBN': '0880015233',
  'bookTitle': 'ANestofNinnies',
  'bookAuthor': 'JohnAshbery',
  'yearOfPublication': '1997',
  'publisher': 'Harpercollins'},
 {'ISBN': '0843933089',
  'bookTitle': 'ABitterLegacy',
  'bookAuthor': 'JeanDavidson',
  'yearOfPublication': '1993',
  'publisher': 'LeisureBooks'},
 {'ISBN': '0671318411',
  'bookTitle': 'AHymnBeforeBattle',
  'bookAuthor': 'JohnRingo',
  'yearOfPublication': '2001',
  'publisher': 'Baen'},
 {'ISBN': '0553586971',
  'bookTitle': 'ThomastheRhymer',
  'bookAuthor': 'ELLENKUSHNER',
  'yearOfPublication': '2004',
  'publisher': 'Bantam'},
 {'ISBN': '0886775361',
  'bookTitle': 'GathererofClouds(InitiateBrotherDuology)',
  'bookAuthor': 'SeanRussell',
  'yearOfPublication': '1992',
  'publisher': 'DawBooks'},
 {'ISBN': '3251003011',
  'bookTitle': 'WegezumRuhm:13HilfestellungenfÃ¼rjungeK...',
  'bookAuthor': 'RobertGernhardt',
  'yearOfPublication': '1995',
  'publisher': 'Haffmans'},
 {'ISBN': '1551669188',
  'bookTitle': "LoveInBloom's",
  'bookAuthor': 'JudithArnold',
  'yearOfPublication': '2002',
  'publisher': 'Mira'},
 {'ISBN': '0440221315',
  'bookTitle': 'TheGift',
  'bookAuthor': 'DANIELLESTEEL',
  'yearOfPublication': '1996',
  'publisher': 'Dell'},
 {'ISBN': '0553380435',
  'bookTitle': "ACloseRunThing:ANovelofWellington'sAr...",
  'bookAuthor': 'ALLANMALLINSON',
  'yearOfPublication': '2000',
  'publisher': 'Bantam'},
 {'ISBN': '0811212777',
  'bookTitle': 'MazurkaforTwoDeadMen',
  'bookAuthor': 'CamiloJoseCela',
  'yearOfPublication': '1994',
  'publisher': 'NewDirectionsPublishingCorporation'},
 {'ISBN': '0805071903',
  'bookTitle': 'TheRomantic:ANovel',
  'bookAuthor': 'BarbaraGowdy',
  'yearOfPublication': '2003',
  'publisher': 'MetropolitanBooks'},
 {'ISBN': '0671868713',
  'bookTitle': 'AndNeverLetHerGo:ThomasCapano:TheDead...',
  'bookAuthor': 'AnnRule',
  'yearOfPublication': '2000',
  'publisher': 'Pocket'},
 {'ISBN': '0395938945',
  'bookTitle': 'OuterbridgeReach',
  'bookAuthor': 'RobertStone',
  'yearOfPublication': '1998',
  'publisher': 'HoughtonMifflinCo'},
 {'ISBN': '1559723475',
  'bookTitle': 'TheTitanicConspiracy:Cover-UpsandMysterie...',
  'bookAuthor': 'RobinGardiner',
  'yearOfPublication': '1996',
  'publisher': 'CarolPublishingCorporation'},
 {'ISBN': '0671680277',
  'bookTitle': 'WHONEEDSGOD',
  'bookAuthor': 'HaroldKushner',
  'yearOfPublication': '1991',
  'publisher': 'Pocket'},
 {'ISBN': '0874772095',
  'bookTitle': 'ChopWood,CarryWater:AGuidetoFindingSpi...',
  'bookAuthor': 'RickFields',
  'yearOfPublication': '1984',
  'publisher': 'JeremyP.Tarcher'},
 {'ISBN': '0452255953',
  'bookTitle': 'UndertheVolcano',
  'bookAuthor': 'MalcolmLowry',
  'yearOfPublication': '1992',
  'publisher': 'PenguinUSA'}]